---
layout : default.html
title : Testimonials
---

<div class="page-header testimonial_bg">
    <div class="page-title">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <H2>
                        TESTIMONIALS
                        <span>
           Be encouraged by these stories of the Lord’s goodness and let them plant hope in your heart.
        </span>
                    </H2>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</div>

<div class="page-content">
    <div class="container">


        <ul class="testimony-tabs">
            <li>
                <a href="/testimonials/articles/" class="active">
                    READ ARTICLES
                </a>
            </li>
            <li class="active">
                <a href="/testimonials" class="">
                    WATCH VIDEOS
                </a>
            </li>
        </ul>


        <div class="t-articles">

            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <div class="row border-bottom">
                            <div class="col-sm-6">
                                <p class="text-left">
                                    Submitted <span>
    by Rayan Johns
</span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
    <span>
        Friday June 12 / 2019
    </span>
                                </p>
                            </div>
                        </div>
                        <h3>
                            At New Creation Church, we believe we are God’s beloved.
                        </h3>
                        <span>
                            Read more
                        </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="row border-bottom">
                            <div class="col-sm-6">
                                <p class="text-left">
                                    Submitted <span>
    by Rayan Johns
</span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
    <span>
        Friday June 12 / 2019
    </span>
                                </p>
                            </div>
                        </div>
                        <h3>
                            At New Creation Church, we believe we are God’s beloved.
                        </h3>
                        <span>
                            Read more
                        </span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <div class="row border-bottom">
                            <div class="col-sm-6">
                                <p class="text-left">
                                    Submitted <span>
    by Rayan Johns
</span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
    <span>
        Friday June 12 / 2019
    </span>
                                </p>
                            </div>
                        </div>
                        <h3>
                            At New Creation Church, we believe we are God’s beloved.
                        </h3>
                        <span>
                            Read more
                        </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="row border-bottom">
                            <div class="col-sm-6">
                                <p class="text-left">
                                    Submitted <span>
    by Rayan Johns
</span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
    <span>
        Friday June 12 / 2019
    </span>
                                </p>
                            </div>
                        </div>
                        <h3>
                            At New Creation Church, we believe we are God’s beloved.
                        </h3>
                        <span>
                            Read more
                        </span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="#">
                        <div class="row border-bottom">
                            <div class="col-sm-6">
                                <p class="text-left">
                                    Submitted <span>
    by Rayan Johns
</span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
    <span>
        Friday June 12 / 2019
    </span>
                                </p>
                            </div>
                        </div>
                        <h3>
                            At New Creation Church, we believe we are God’s beloved.
                        </h3>
                        <span>
                            Read more
                        </span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="row border-bottom">
                            <div class="col-sm-6">
                                <p class="text-left">
                                    Submitted <span>
    by Rayan Johns
</span>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-right">
    <span>
        Friday June 12 / 2019
    </span>
                                </p>
                            </div>
                        </div>
                        <h3>
                            At New Creation Church, we believe we are God’s beloved.
                        </h3>
                        <span>
                            Read more
                        </span>
                    </a>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a href="/send-testimoney" class="btn btn-primary btn-start">
                        Share your testimoney
                    </a>
                </div>
            </div>

        </div>




    </div>


</div>


