@media screen and (max-width: 1279px) {

  header {
    ul li {
      a {
        font-size: 13px;
        font-weight: bold;
        padding: 5px 10px;
      }
    }
  }

  .block-free-website {
    h2 {
      font-size: 28px;
    }
    a {
      height: 280px;
    }
  }

  footer {
    min-height: 380px;
    height: auto;

    ul {
      margin: 0px 0px 20px 0px;
    }
    ul li {
      font-weight: 700;
      a {
        font-weight: normal;
      }
    }
  }

  .featured-blog div.col-md-3 a div.blog-info {
    top: 25%;
  }
  div.about-mp h2, div.page-jesus h2 {
    font-size: 41px;
  }

  div.page-events a.event-item {
    img {
      width: 100%;
    }
  }

  div.page-events a.event-item div.flag {
    position: relative;
    width: 32px;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding-top: 60px;
  }

  .block-connect.connect_bg {
    height: auto;
    background-position: right center;
    div.container {
      max-width: 100%;
    }

    .connect-buttons {
      flex-wrap: wrap;
      > div {
        margin: 0px 20px 20px 20px;
      }
    }
  }

  .home-block-one div.slider-text {
    font-size: 36px;
  }

  .block-free-website {
    h2, p {
      text-align: center;
    }
    div.col-md-4,
    div.col-md-8 {
      flex: 0 0 100.100%;
      max-width: 100.100%;
    }
    a {
      width: 100%;

    }
    div.container {
      width: 100%;
      max-width: 100%;
    }
  }

  header {
    div.mobile_menu {
      z-index: 2000;
      cursor: pointer;
      display: block;
      position: absolute;
      right: 0px;
      top: 5px;
      width: 44px;
      height: 44px;
      font-size: 32px;
      color: $blue;

    }

    .logo-wrapper {
      flex: 0 0 100.000%;
      max-width: 100.000%;
    }

    height: 60px;
    overflow: hidden;

    div.logo {
      img {
        width: 60px;
        margin: 0 auto;
        display: block;
      }
    }

    div.top-header {
      display: none;
    }

    ul {
      float: none;
      padding: 0px;

      li:last-child {
        display: block;
      }
    }

    ul li {
      display: block;
      a {
        height: auto;
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 20px;
        line-height: 30px;
        &:hover {
          background: $blue;
          color: #fff;
        }
      }
    }
  }
  header.expand {
    height: 500px;
    overflow-y: scroll;
  }

  .testimony-tabs {
    li a {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  div.page-content .t-videos {
    font-size: 18px;
    margin: 20px 0px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }

  footer {
    padding: 20px 0px;
  }

  .home-block-one {
    height: 480px;
    div.slider-item {
      height: 480px;
    }
  }

  header.expand {
    height: 500px;
    overflow-y: scroll;
  }
  .home-block-event {
    padding: 20px;
  }
  .home-block-event .next-date-wrapper .next-date-text {
    margin: 0px 0px 0px 0px;
    line-height: 36px;
  }

  .home-block-event .next-event-info .next-event-title {
    color: #2474A4;
    font-size: 24px;
    font-weight: bold;
    text-align: left;

    margin: 20px 0px 10px 0px;
  }

  .featured-video-block {
    height: auto;
  }

  .block-free-website a {
    width: auto;
  }
  div.block-connect, div.block-digital-training, div.block-connect-with-us {
    height: auto;
  }
  div.block-connect .connect-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  div.page-events a.event-item {

    div.event-date {
      padding-left: 20px;
      float: left;
      display: flex;
    }
    img {
      width: 100%;

    }

  }

  .home-block-one div.slider-text {
    padding: 0px 20px;
    font-size: 36px;
  }

  .home-block-event .next-date-wrapper {
    justify-content: center;
  }
  .home-block-event .next-event-info .next-event-title,
  .home-block-event .next-event-info .next-event-time {
    text-align: center;
  }

  .home-block-event .next-date-wrapper .next-date {
    padding: 15px;
    margin: 0px 20px 10px 0px;
  }

  .home-block-event .next-event-info .next-event-country img {
    display: block;
    margin: 0 auto;
  }

  .featured-video-block div.block-title {
    text-align: center;
  }
  .featured-video-block {
    padding: 15px 0px;
    div.block-title {
      margin: 0px 0px 15px 0px;
    }

    .video-block video {
      height: auto;
    }
  }

  div.block-connect.connect_bg {
    padding-bottom: 20px;
  }

  div.block-connect div.container {
    padding-top: 20px;
  }
  div.block-connect .connect-buttons {
    margin: 20px 0px 0px 0px;
  }

  div.block-connect .connect-buttons > div a svg {
    margin: 5px auto;
    height: 44px;
  }

  div.block-connect .connect-buttons > div {
    margin: 10px 20px;
    width: 100%;
    padding: 10px;
    height: auto;
  }
  .block-free-website {

    a {
      height: auto;
    }
    h2 {
      text-align: Center;
      font-size: 32px;
    }
    p {
      text-align: center;
    }

    div.col-4 {
      padding: 0px 5px;
    }
  }
  div.page-content .t-articles div.col-md-6 a div.col-sm-6 p {
    text-align: left !important;
  }
  div.page-header {
    height: 200px;

    div.page-title {
      height: 200px;
      h2 {
        font-size: 28px;
        margin: 10px 0px;
      }
      span {
        font-size: 12px;
      }
    }
  }

}
