header {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 4000;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);

  div.mobile_menu {
    display: none;
  }


  div.logo {
    a {
      span {
        display: none;
      }
    }
  }

  div.top-header {
    position: relative;
    background: $blue;
    text-align: right;

    div.dropdown {
      display: inline-block;
      margin: 0px 10px 0px 0px;

      a {
        padding: 10px 10px;
      }
    }

    a {
      display: inline-block;
      padding: 10px 10px;
      color: #fff;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        color: #d6d6d6;
      }
    }
  }

  ul {
    margin: 0px;
    float: right;
    list-style: none;

    li {
      display: inline-block;
      margin-left: -4px;

      a {
        height: 100px;
        display: block;
        padding: 0px 13px;
        font-weight: 500;
        font-size: 14px;
        color: #272727;
        letter-spacing: 0;
        text-decoration: none;
        line-height: 100px;
        transition: 0.2s ease;

        &:hover {
          color: #999;
          text-decoration: none;
        }

      }

      &.active {
        a {
          background: #fff;
          color: $blue;
          font-weight: bold;
        }
      }
    }


  }
}





