<div class="block-connect-with-us connect_withus_bg">
    <div class="container">

        <h3>

            Stay connected with us
        </h3>


       <div class="row justify-content-center">
           <div class="col-md-8">
               <div class="subscription-form">
                   <form action="">
                       <div class="input-group">
                           <input type="email" placeholder="Email address">
                           <div class="input-group-append">
                               <button type="submit" class="btn btn-primary"> Subscribe</button>
                           </div>

                       </div>
                   </form>
               </div>

           </div>
       </div>

    </div>
    <div class="overlay"></div>
</div>

<footer>


    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                About
                            </li>
                            <li>
                                <a href="#">
                                    Who we are
                                </a>
                            </li>
                            <li>
                                <a href="#"> What Jesus did for you Ministries</a>
                            </li>
                            <li>
                                <a href="#">
                                    News
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">

                        <ul>
                            <li>
                                Resouces


                            </li>
                            <li>
                                <a href="#">
                                    Confess the word
                                </a>
                            </li>
                            <li>
                                <a href="#"> Video - Short movies</a>
                            </li>
                            <li>
                                <a href="#">
                                    Documentaries
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Audio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Downloads
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                Events
                            </li>
                            <li>
                                <a href="#">
                                    Events


                                </a>
                            </li>
                            <li>
                                <a href="#">Upcoming events</a>
                            </li>
                            <li>
                                <a href="#">
                                    Past events
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>
                                Testimonies
                            </li>
                            <li>
                                <a href="#">
                                    Partners
                                </a>
                            </li>
                            <li>
                                <a href="#"> Jesus</a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Training
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid  social-media-icons">
        <div class="row">
            <div class="col-md-12">

                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p class="text-center">
                    &copy;
                    2019 Millennial Prophet Ministries &nbsp; &nbsp; &nbsp;| &nbsp;&nbsp; &nbsp;<a href="#">
                    Termins of use
                </a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#">
                    Privacy policy
                </a>
                </p>
            </div>
        </div>
    </div>
    </div>


</footer>

<script type="text/javascript">

    ($(function () {
        $(".mobile_menu").click(function (e) {
            $("header").toggleClass("expand");
        });
    }));
</script>