<header>

    <div class="top-header">
        <div class="row">
            <div class="col-md-12">
                <a href="#">
                    BECOME A PARTNER
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2 logo-wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="{{assets}}images/logo.png" alt="">
                    </a>
                </div>

                <div class="mobile_menu">
                    <i class="fa fa-bars"></i>
                </div>
            </div>

            <div class="col-md-10">
                <ul>

                    <li>
                        <a href="/">
                            HOME
                        </a>
                    </li>

                    <li>
                        <a href="/about">
                            ABOUT US
                        </a>
                    </li>
                    <li>
                        <a href="/videos/all">
                            RESOURCES
                        </a>
                    </li>


                    <li>
                        <a href="/ministries">
                            EMPOWER MINISTRIES
                        </a>
                    </li>

                    <li>
                        <a href="/events">
                            EVENTS
                        </a>
                    </li>
                    <li>
                        <a href="/testimonials">
                            TESTIMONIES
                        </a>
                    </li>

                    <li>
                        <a href="/jesus">
                            JESUS
                        </a>
                    </li>

                    <li>
                        <a href="/connect">
                            CONNECT
                        </a>
                    </li>

                    <li>
                        <a href="/blog">
                            BLOG
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            BECOME A MEMBER
                        </a>
                    </li>
                </ul>
            </div>
        </div>




    </div>

</header>
