---
layout : default.html
title : EVENTS
---

<div class="page-header events_bg">
    <div class="page-title">
        <H2>
            EVENTS
        </H2>
    </div>
    <div class="overlay"></div>
</div>

<div class="page-content page-event-single">


    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-7">

                <div class="event-date">
                    <span class="date">
                    24
                </span>
                    <span class="month">
                        JULY
                    </span>
                    <span class="year">
                        2019
                    </span>
                </div>
                <div class="event-title">
                    At New Creation Church, we believe we are God’s beloved.
                    <span class="event-time">
7:30pm @ Royal ball room
                    </span>
                </div>

                <div class="flag">
                    <img src="{{assets}}images/flag.png" alt="">
                </div>

                <figure>
                    <img src="{{assets}}images/event_single.jpg"/>
                </figure>

                <div class="d-flex justify-content-between">
                    <a href="#">
                        <img src="{{assets}}svg/add-to-cal.svg"/>
                        Add to calendar
                    </a>
                </div>

                <div class="event-body">
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus orci ac condi mentum
                        efficitur. Suspendi potenti. Fusce diam felis, ullamcor aca felis sed, volutpat varius tortor.
                        Ut eleifend justo sed quam blandit, vehicula ante hendrerit. Sed condimentum libero vel eros
                        porta, eu malesuada nulla bibendum. Proin varius sollicitudin nulla quis fermentum. Nunc vitae
                        arcu eget diam gravida ultrices finibus nec mi. Maecenas egestas libero.
                        <br><br>
                        Donec ultricies convallis urna. Morbi consequat vestibulum nunc sed semper. Proin iaculis risus
                        eleifend, efficitur eros et, tristique tortor. Integer nec lacinia augue. Curabitur mattis vel
                        orci id mattis. Aliquam eu dignissim sem. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Mauris vitae fermentum quam.
                    </p>
                </div>

                <div class="event-more-info">

                    <ul>

                        <li>
                            <p>
                                <strong>
                                    Address
                                </strong>
                                New York Conference Hall
                                Washington lobby

                                <a href="#" data-lat="45.908098" data-lng="4.809758">
                                    Get directions
                                </a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>
                                    Time
                                </strong>
                                New York Conference Hall
                                Washington lobby


                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>
                                    Entrance
                                </strong>
                                Frees


                            </p>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>