---
layout : default.html
title : MP
---

<div class="page-header jesus_bg">
    <div class="page-title">
        <H2>
            JESUS
        </H2>
    </div>
    <div class="overlay"></div>
</div>

<div class="page-content page-jesus">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2>
                    WHAT JESUS DID FOR YOU
                </h2>
                <p>
                    At New Creation Church, we believe we are God’s beloved. He demonstrated this by freely giving up
                    heaven’s
                    best, His only Son Jesus, for you and me. When we catch a revelation of this truth, we are
                    transformed by
                    His grace from the inside out. That’s the beauty of believing and living in our heavenly Father’s
                    love and
                    grace! No matter who you are or where you come from, there’s always a place for you in our church
                    family!
                </p>
            </div>
        </div>
    </div>


    <img src="{{assets}}images/jesus_img.jpg" alt="" class="page-full-image">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p>
                    Have you wondered what took place at the cross? Travel back in time to witness how Jesus bore your
                    sins, condemnation, curses, sicknesses and even death on the cross just for you. Watch this video
                    and experience afresh God’s amazing love for you through the mighty cross!
                </p>

                <h4>
                    His Heart To Heal You
                </h4>
                <p>
                    How willing is God to heal you today? Let this animation clip show you how God does not just have the power but also the heart to supply your area of need.

                    Beloved, Jesus has already done everything necessary to redeem you and restore you to sweet fellowship with Him and God the Father. But His finished work can only become real in your life if you make a personal decision to accept Him.

                    Accepting Jesus as your Lord and Saviour will not only save you from hell, but also give you love, peace, joy, hope, unconditional acceptance, favour, health and every good thing that you can think of and more!

                    If you would like to accept Jesus and all that He has done for you, say this prayer and mean it from your heart:
                </p>
            </div>


        </div>

    </div>

</div>