---
layout : default.html
title : MP
---

<div class="page-header page-big confess_bg">
    <div class="page-title">
        <H2>
            CONFESS THE WORD
        </H2>
    </div>
    <div class="overlay"></div>
</div>

<div class="page-content page-confess">
    <div class="container">

      <div class="row justify-content-center">
          <div class="col-md-7">

<strong>
    Righteousness
</strong>
<Br><br>
              For if by the one man’s offence death reigned through the one, much more those who receive abundance of grace and of the gift of righteousness will reign in life through the One, Jesus Christ.
              <span>
                  Romans 5:17
              </span>
<br><br>
              For He made Him who knew no sin to be sin for us, that we might become the righteousness of God in Him.
             <span>
                  2 Corinthians 5:21
             </span>
              <br><br>
              … that I may gain Christ and be found in Him, not having my own righteousness, which is from the law, but that which is through faith in Christ, the righteousness which is from God by faith; that I may know Him and the power of His resurrection…
             <span>
                  Philippians 3:8–10
             </span>
              <br><br>
              But to him who does not work but believes on Him who justifies the ungodly, his faith is accounted for righteousness, just as David also describes the blessedness of the man to whom God imputes righteousness apart from works
            <span>
                  Romans 4:5–6
            </span>
              <br><br>
              For the promise that he would be the heir of the world was not to Abraham or to his seed through the law, but through the righteousness of faith.
             <span>
                  Romans 4:13
             </span>
              <br><br>
              So that as sin reigned in death, even so grace might reign through righteousness to eternal life through Jesus Christ our Lord.
             <span>
                  Romans 5:21
             </span>
              <br><br>
              Fear not, for I am with you; be not dismayed, for I am your God. I will strengthen you, yes, I will help you, I will uphold you with My righteous right hand.
              <span>
                  Isaiah 41:10
              </span>
              <br><br>
              For what does the Scripture say? “Abraham believed God, and it was accounted to him for righteousness.”
              <span>
                  Romans 4:3
              </span>
              <br><br>
              For You, O Lord, will bless the righteous; with favour You will surround him as with a shield.
             <span>
                  Psalm 5:12
             </span>
              <br><br>
              Many are the afflictions of the righteous, but the Lord delivers him out of them all.
             <span>
                  Psalm 34:19
             </span>
              <br><br>
              But seek first the kingdom of God and His righteousness, and all these things shall be added to you.
              <span>
                  Matthew 6:33
              </span>
              <br><br>
              Treasures of wickedness profit nothing, but righteousness delivers from death. The Lord will not allow the righteous soul to famish...
              <span>
                  Proverbs 10:2–3
              </span>
              <br><br>
              Blessings are on the head of the righteous, but violence covers the mouth of the wicked. The memory of the righteous is blessed, but the name of the wicked will rot.
             <span>
                  Proverbs 10:6–7
             </span>
              <br><br>
              The labour of the righteous leads to life, the wages of the wicked to sin.
              <span>
                  Proverbs 10:16
              </span>
              <br><br>
              The fear of the wicked will come upon him, and the desire of the righteous will be granted.
             <span>
                  Proverbs 10:24
             </span>
              <br><br>
              The hope of the righteous will be gladness, but the expectation of the wicked will perish.
             <span>
                  Proverbs 10:28
             </span>
              <br><br>
              The righteous will never be removed, but the wicked will not inhabit the earth.
              <span>
                  Proverbs 10:30
              </span>
              <br><br>
              In the way of righteousness is life, and in its pathway there is no death.
              <span>
                  Proverbs 12:28
              </span>
              <br><br>
              Evil pursues sinners, but to the righteous, good shall be repaid. A good man leaves an inheritance to his children’s children, but the wealth of the sinner is stored up for the righteous.
              <span>
                  Proverbs 13:21–22
              </span>
              <br><br>
              The righteous eats to the satisfying of his soul, but the stomach of the wicked shall be in want.
              <span>
                  Proverbs 13:25
              </span>
              <br><br>
              The righteous is delivered from trouble, and it comes to the wicked instead.
             <span>
                  Proverbs 11:8
             </span>
              <br><br>
              Though they join forces, the wicked will not go unpunished; but the posterity of the righteous will be delivered.
          <span>
                  Proverbs 11:21
          </span>

          </div>
      </div>
    </div>
</div>