---
layout : default.html
title : MP
---

<div class="page-header partner_bg">
    <div class="page-title">
        <H2>
            BECOME A PARTNER
        </H2>
    </div>
    <div class="overlay"></div>
</div>

<div class="page-content partner-page">
    <div class="container">


        <div class="row justify-content-center">
            <div class="col-md-7">
                <h3 class="text-center mb-4">
                    <strong>
                        BECOME A PARTNER TODAY
                    </strong>
                </h3>
                <p class="text-left">
                    What a privilege it is to serve Him during these exciting times! God is accomplishing great and
                    mighty things, and that’s why I want to personally invite you to become a Covenant Partner so that,
                    together, we can fulfill the Great Commission and win the world in His mighty name.
                    <br><br>
                    As a partner in this ministry, you will be making a difference in lives around the world, and what a
                    privilege it is to serve Him during these exciting times.  hen I minister to the multitudes, my
                    partners are there with me.

                    <br><br>

                    When I go to the nations through television and crusades, and when we see multiplied tens of
                    thousands of men, women, and children weeping as they accept Jesus in their lives, you will be
                    blessed with an eternal harvest for the seed you have sown.


                </p>
                <p>
                    &nbsp;
                </p>


            </div>
        </div>

        <div class="donation-btns">
            <a href="#" class="btn btn-become-partner">
                <img src="{{assets}}svg/gift-box.svg" alt=""> Become a monthly <Br>
                Partner
            </a>

            <a href="#" class="btn btn-become-partner">
                <img src="{{assets}}svg/gift-box.svg" alt=""> Give a one time <Br>
                Donation
            </a>
        </div>

       <div class="row justify-content-center">
           <div class="col-md-9">
               <div class="payment-methods">
                   <h4>
                       <strong>
                           Payment methods
                       </strong>
                   </h4>

                   <a href="#">
                       <img src="{{assets}}images/visa.png" alt="">
                   </a>
                   <a href="#">
                       <img src="{{assets}}images/stripe.png" alt="">
                   </a>
                   <a href="#">
                       <img src="{{assets}}images/master.png" alt="">
                   </a>

                   <a href="#">
                       <img style="width:100px;" src="{{assets}}images/ae.png" alt="">
                   </a>

                   <a href="#">
                       <img src="{{assets}}images/apple.png" alt="">
                   </a>
                   <a href="#">
                       <img src="{{assets}}images/android.png" alt="">
                   </a>



               </div>
           </div>
       </div>

    </div>
</div>